@(id: Long, taskForm: Form[Task])

@import helper._

@main("Edit Task"){
	<h1>Edit task </h1>

	@form(routes.Application.updateTask(id)){

		@inputText(taskForm("label"), '_label -> "label")

		@inputText(taskForm("endDate"), '_label -> "Date of end")

		<input type="submit" value="Save">
	}
	<a href="@routes.Application.tasks(Application.order)"> <button>Cancel</button> </a>
}