@(tasks: List[Task])

@import helper._

@main("Todo list"){

	<h1>@tasks.size task(s)</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Task</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @tasks.map { task =>
                <tr>
                    <td>
                        @task.label
                    </td>

                    <td>
                        @task.endDate.map(_.format("dd/MM/yyyy"))
                    </td>
                    
                    <td>
                        @form(routes.Application.deleteTask(task.id.get)) {
                            <input type="submit" value="Delete">
                        }

                        <a href="@routes.Application.editTask(task.id.get)"> <button>Edit</button> </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <a href="@routes.Application.showNewTaskForm"> <button>Create new task</button> </a>
    
    @if(Application.order){
        <a href="@routes.Application.tasks(false)">Sort by creation date</a>
    }else{
        <a href="@routes.Application.tasks(true)">Sort by end date</a>
    }                                              
}
